language: android

jdk:
  - oraclejdk8

before_cache:
  - rm -f $HOME/.gradle/caches/modules-2/modules-2.lock

cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/

android:
  components:
    - tools
    - build-tools-25.0.2
    - android-25
    - platform-tools
    - extra-google-m2repository
    - extra-android-m2repository
    - extra-android-support

    # Specify at least one system image,
    # if you need to run emulator(s) during your tests
#    - sys-img-armeabi-v7a-android-25

#before_install:
#  - echo no | android create avd --force -n test -t android-25 --abi armeabi-v7a
#  - emulator -avd test -no-skin -no-audio -no-window &

#before_script:
#  - android-wait-for-emulator
#  - adb shell input keyevent 82 &

script:
  - ./gradlew check

  # Disable for now, since Travis Android emulators are not reliable.
  #- ./gradlew connectedAndroidTestMockWebServerPiDebug --stacktrace
